<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Profesor</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <h1>Editar Profesor</h1>
    <form th:action="@{/profesor/editar/{id}(id=${profesor.idProfesor})}" th:method="post">
        <fieldset>
            <label for="nombreProf">Nombre:</label>
            <input name="nombreProf" type="text" id="nombreProf" th:value="${profesor.nombreProf}">
            <br>
            <label for="emailProf">Email:</label>
            <input name="emailProf" type="email" id="emailProf" th:value="${profesor.emailProf}">
            <br>
            <label for="fotoProf">Foto:</label>
            <input name="fotoProf" type="text" id="fotoProf" th:value="${profesor.fotoProf}">
            <br>
            <button type="submit">Guardar</button>
        </fieldset>
    </form>
</body>
</html>