<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agregar Profesor</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <h1>Agregar Profesor</h1>
    <form th:action="@{/profesor/inserir}" th:method="post">
        <fieldset>
            <label for="nombreProf">Nombre:</label>
            <input name="nombreProf" type="text" id="nombreProf" required>
            <br>
            <label for="emailProf">Email:</label>
            <input name="emailProf" type="email" id="emailProf" required>
            <br>
            <label for="fotoProf">Foto:</label>
            <input name="fotoProf" type="text" id="fotoProf">
            <br>
            <button type="submit">Guardar</button>
        </fieldset>
    </form>
</body>
</html>
