<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agregar Categoría</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/}">Inicio</a></li>
            <li th:each="categoria : ${categorias}">
                <a th:href="@{/categoria/{id}(id=${categoria.idCategoria})}" th:text="${categoria.nombreCat}"></a>
            </li>
        </ul>
    </nav>
    <h1>Agregar Nueva Categoría</h1>
    <form th:action="@{/categoria/guardar}" method="post">
        <label for="nombreCat">Nombre de la Categoría:</label>
        <input type="text" id="nombreCat" name="nombreCat" required>
        <button type="submit">Guardar</button>
    </form>
</body>
</html>