<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listar Categorías</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/}">Inicio</a></li>
            <li><a th:href="@{/categoria/inserirCat}">Agregar Categoría</a></li>
        </ul>
    </nav>
    <h1>Listar Categorías</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="categoria : ${categorias}">
                <td th:text="${categoria.idCategoria}"></td>
                <td th:text="${categoria.nombreCat}"></td>
                <td>
                    <a th:href="@{/categoria/editar/{id}(id=${categoria.idCategoria})}">Editar</a>
                    <a th:href="@{/categoria/excluir/{id}(id=${categoria.idCategoria})}">Eliminar</a>
                    <a th:href="@{/categoria/detalles/{id}(id=${categoria.idCategoria})}">Ver Cursos</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>